Body {background-image: linear-gradient(thistle, orchid, mediumvioletred);}

h1 {color: deeppink;
    padding:70x;
    font-weight: 300;
    margin-bottom;5px;
    text-shadow: 2px 2px 6px dimgray;
    font-family:URW Chancery L, cursive;
    font size: 24px;}






